body{
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
   
    background-repeat: no-repeat;
   
    text-align: center;
    color:white;
}
ul a{
    color:white;
    float: right;
}
#jumbotron{
    background-color: transparent;
}
#nav{
    float:right;
    
}
.col-md-2{
    margin-left: 2px;
}